:host {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.side-menu {
  width: 250px;
  height: 100%;
  background-color: #0e1a35;
  color: white;
  transition: all 0.2s linear;
  position: fixed;
  left: 0;
  top: 0;
}

.side-menu.closed {
  width: 55px;
}

.menu-item {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #0a1223;
  position: relative;
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 0;
  background-color: #5584ff;
  transition: all 0.2s linear;
}

.menu-item.active::before {
  height: 100%;
}

.menu-item:hover::before {
  height: 100%;
}

.menu-item i {
  margin-right: 10px;
  color: #5584ff;
}

header {
  width: calc(100% - 250px);
  height: 100px;
  background-color: white;
  display: flex;
  padding: 0 20px;
  left: 250px;
  position: fixed;
  transition: all 0.2s linear;
  border-bottom: 1px solid #8492af4d;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  background-color: #f4f4f4;
  margin-top: 100px;
  padding: 20px;
  transition: all 0.2s linear;
  position: fixed;
  left: 250px;
}

header.full,
.content.full {
  width: calc(100% - 55px);
  left: 55px;
}

.menu-toggler {
  transition: all 0.2s linear;
}

.menu-toggler i {
  color: #0e1a35;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-toggler.left {
  transform: rotate(270deg);
}
.menu-toggler.right {
  transform: rotate(90deg);
}

.user-actions {
  display: flex;
  align-items: center;
}
.user-actions img {
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin-right: 10px;
}
.user-actions i {
  cursor: pointer;
  color: #0a1223;
}

.header-btn button {
  background-color: #5584ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.header-btn button i {
  color: white;
}
